@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);

body {
    margin: auto;
    padding-right: 1em;
    padding-left: 1em;
    max-width: 50em; 
    border-left: 1px solid black;
    border-right: 1px solid black;
    font-family: 'Open Sans', sans-serif;
    /*font: 400 16px/1.5 "PT Mono", Helvetica, Arial, sans-serif;*/
    color: #FFFFFF;
    background-color: #000000;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    /*line-height: 140%;*/
}
pre {
    border: 1px dotted gray;
    background-color: #ececec;
    color: #1111111;
    padding: 0.5em;
}
code {
    font-family: 'Inconsolata', ;
}
h1 a, h2 a, h3 a, h4 a, h5 a { 
    text-decoration: none;
    color: #000000; 
}
h1, h2, h3, h4, h5 { /*font-family: 'Open Sans', sans-serif;*/
                     font-weight: bold;
                     border-bottom: 1px solid white;
                     color: #FFFFFF; }
h1 {
        font-size: 20pt;
}

h2 {
        font-size: 18pt;
}

h3 {
        font-size: 16pt;
}

h4 {
        font-size: 16pt;
        font-style: italic;
}

h5 {
        font-size: 14pt;
        font-style: italic;
}

h1.title {
        font-size: 24pt;
        font-weight: bold;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        text-align: left;
        border: none;
}

dt code {
        font-weight: bold;
}
dd p {
        margin-top: 0;
}

#footer {
        padding-top: 1em;
        font-size: 70%;
        color: gray;
        text-align: center;
        }
